<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.homeofagriculturalserver.dao.AnswerMapper">
    <resultMap id="BaseResultMap" type="com.fx.homeofagriculturalserver.entity.Answer">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="question_id" property="questionId" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="TIMESTAMP"/>
        <result column="user_tel" property="userTel" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.fx.homeofagriculturalserver.entity.Answer" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, question_id, date, user_tel, state
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from answer
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByQuestionId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from answer
        where question_id = #{questionId}
        order by date asc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from answer
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.fx.homeofagriculturalserver.entity.Answer">
    insert into answer (id, question_id, date, 
      user_tel, state, content
      )
    values (#{id,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, 
      #{userTel,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.fx.homeofagriculturalserver.entity.Answer">
        insert into answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="userTel != null">
                user_tel,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="userTel != null">
                #{userTel,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fx.homeofagriculturalserver.entity.Answer">
        update answer
        <set>
            <if test="questionId != null">
                question_id = #{questionId,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="userTel != null">
                user_tel = #{userTel,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fx.homeofagriculturalserver.entity.Answer">
    update answer
    set question_id = #{questionId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      user_tel = #{userTel,jdbcType=BIGINT},
      state = #{state,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.fx.homeofagriculturalserver.entity.Answer">
    update answer
    set question_id = #{questionId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      user_tel = #{userTel,jdbcType=BIGINT},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>