<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fx.homeofagriculturalserver.dao.CollectionMapper" >
  <resultMap id="BaseResultMap" type="com.fx.homeofagriculturalserver.entity.CollectionKey" >
    <id column="user_tel" property="userTel" jdbcType="BIGINT" />
    <id column="circle_id" property="circleId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.fx.homeofagriculturalserver.entity.CollectionKey" >
    delete from collection
    where user_tel = #{userTel,jdbcType=BIGINT}
      and circle_id = #{circleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fx.homeofagriculturalserver.entity.CollectionKey" >
    insert into collection (user_tel, circle_id)
    values (#{userTel,jdbcType=BIGINT}, #{circleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fx.homeofagriculturalserver.entity.CollectionKey" >
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userTel != null" >
        user_tel,
      </if>
      <if test="circleId != null" >
        circle_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userTel != null" >
        #{userTel,jdbcType=BIGINT},
      </if>
      <if test="circleId != null" >
        #{circleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>